<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Centralize customer feedback, reviews, and FAQs from all your social channels. Showcase real customer stories to build trust and drive business growth." />
    <meta name="author" content="Hezron Bii">
    <meta name="keywords"
        content="customer feedback, social proof, reviews aggregator, customer engagement, business reviews, social media reviews, FAQ management, reputation management, SaaS for businesses, reviews display" />
    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="Showcase Social Proof and Boost Your Business" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description"
        content="Easily collect and display reviews and FAQs from social media. Let your customers' voices amplify your business success." />
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Webpage Title -->
    <title>Turn Reviews Into Revenue</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"
        crossorigin='anonymous'></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin='anonymous'></script> -->
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <style>

    </style>
    <!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
</head>

<body style="margin:0;padding: 0;">
    <header class="fixed w-full" style="z-index: 5;padding: 0;margin: 0;">
        <nav class="bg-white">
            <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto"
                style="margin: 0;padding:0;">
                <a href="{% url 'landing' %}" class="flex items-center" style="text-decoration: none;color: black;margin: 0;padding: 0;">
                    <img src="./images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Insightlyze  Logo" />
                    <span
                        class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Insightlyze</span>
                </a>
                <div class="flex items-center lg:order-2">
                    <!-- <a href="#" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Log in</a> -->
                    <button data-collapse-toggle="mobile-menu-2" type="button"
                        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="mobile-menu-2" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2"
                    style="padding: 0;margin: 0;">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                        <li>
                            <a href="{% url 'landing' %}" style="text-decoration: none;"
                                class="block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white"
                                aria-current="page">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'landing' %}#features" style="text-decoration: none;"
                                class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Features</a>
                        </li>
                        <li>
                            <a href="{% url 'landing' %}#pricing" style="text-decoration: none;"
                                class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
                        </li>
                        <li>
                            <a href="{% url 'landing' %}#faqs" style="text-decoration: none;"
                                class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">FAQs</a>
                        </li>
                        <li>
                            <a href="{% url 'landing' %}#contact" style="text-decoration: none;"
                                class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <section style="margin-top:5%;height: 70vh;">
        <!-- login form -->
        <div class="container-fluid h-custom" id="login_container" style="display: block;height: 100%;">
            <div class="row d-flex justify-content-center align-items-center h-100" style="gap: 4rem;">
                <div class="">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image" style="width:500px">
                </div>
                <div class="" style="overflow-y: scroll;height: 100%;width: 50%;">
                    <form>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="name" class="form-control " placeholder="Enter your username "
                                id="usernameL" />
                            <label class="form-label" for="usernameL">Username</label>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" class="form-control" placeholder="Enter password" id="passwL" />
                            <label class="form-label" for="passwL">Password</label>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="rememberMe" />
                                <label class="form-check-label" for="rememberMe">
                                    Remember me
                                </label>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                id="LoginBtn">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#" id="register-sc"
                                    class="link-danger">Register</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- account register form -->
        <div class="container-fluid h-custom" id="register_container" style="height: 100%;display: none;">
            <div class="row d-flex justify-content-center align-items-center h-100" style="gap: 4rem;">
                <div class="">
                    <img src="https://png.pngtree.com/element_our/png/20181228/building-vector-icon-png_296032.jpg"
                        style="width:100%;" class="img-fluid" alt="Sample image">
                </div>
                <div class="" style="overflow-y: scroll;height: 100%;width: 50%;">
                    <form>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Sign up with</p>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>

                        <!-- username input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="usernameR" class="form-control " placeholder="Enter username" />
                            <label class="form-label" for="usernameR">Username</label>
                        </div>
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="emailR" class="form-control "
                                placeholder="Enter a valid email address" />
                            <label class="form-label" for="emailR">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" id="passwordR" class="form-control" placeholder="Enter password" />
                            <label class="form-label" for="passwordR">Password</label>
                        </div>
                        <!-- Confirm Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" id="cpasswordR" class="form-control"
                                placeholder="Enter password again" />
                            <label class="form-label" for="cpasswordR">Confirm Password</label>
                        </div>

                        <!-- <div class="d-flex justify-content-between align-items-center">
                            <-- Checkbox --
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="agreeTerms" />
                                <label class="form-check-label" for="agreeTerms">
                                    I agree to terms of service
                                </label>
                            </div>
                        </div>
 -->
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-lg" id="continue-reg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Continue to Business
                                Registration</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="#!" id="login-sc"
                                    class="link-danger">Login</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- business register form -->
        <div class="container-fluid h-custom" id="register_business_container" style="height: 100%;display: none;">
            <div class="row d-flex justify-content-center align-items-center h-100" style="gap: 4rem;">
                <div class="">
                    <img src="https://png.pngtree.com/element_our/png/20181228/building-vector-icon-png_296032.jpg"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="" style="overflow-y: scroll;height: 100%;width: 50%;">
                    <form>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Tell us about your business</p>
                        </div>
                        <hr>
                        <!-- business category -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <div class="border card">

                                <!-- AUTO COMPLETE DROPDOWN -->
                                <select class="selectpicker form-control rounded " id="businessCategory">
                                    <option value="Accounting">Accounting</option>
                                    <option value="Advertising">Advertising</option>
                                    <option value="Agriculture">Agriculture</option>
                                    <option value="Apparel">Apparel</option>
                                    <option value="Architecture">Architecture</option>
                                    <option value="Automotive">Automotive</option>
                                    <option value="Banking">Banking</option>
                                    <option value="Construction">Construction</option>
                                    <option value="Consulting">Consulting</option>
                                    <option value="Consumer Goods">Consumer Goods</option>
                                    <option value="Cybersecurity">Cybersecurity</option>
                                    <option value="Ecommerce">E-Commerce</option>
                                    <option value="Education">Education</option>
                                    <option value="Energy">Energy</option>
                                    <option value="Entertainment">Entertainment</option>
                                    <option value="Environmental">Environmental</option>
                                    <option value="Finance">Finance</option>
                                    <option value="Freelance">Freelance</option>
                                    <option value="Food & Beverage">Food & Beverage</option>
                                    <option value="Healthcare">Healthcare</option>
                                    <option value="Hospitality">Hospitality</option>
                                    <option value="Information Technology">Information Technology</option>
                                    <option value="Insurance">Insurance</option>
                                    <option value="Law">Law</option>
                                    <option value="Logistics">Logistics</option>
                                    <option value="Manufacturing">Manufacturing</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Media">Media</option>
                                    <option value="Nonprofit">Nonprofit</option>
                                    <option value="Pharmaceuticals">Pharmaceuticals</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Retail">Retail</option>
                                    <option value="Telecommunications">Telecommunications</option>
                                    <option value="Transportation">Transportation</option>
                                    <option value="Travel">Travel</option>
                                    <option value="Utilities">Utilities</option>

                                </select>
                            </div>
                            <label class="form-label" for="businessCategory">Business Category</label>

                        </div>
                        <!-- business name input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="businessName" class="form-control "
                                placeholder="Enter business name" />
                            <label class="form-label" for="businessName">Business Name</label>
                        </div>

                        <!-- address info -->
                        <label class="d-block mb-4">
                            <input name="address1" type="text" class="form-control" placeholder="Enter address 1"
                                id="address1" />
                            <span class="form-label d-block">Address line 1</span>

                        </label>

                        <label class="d-block mb-4">
                            <input name="address2" type="text" class="form-control" placeholder="Enter address 2"
                                id="address2" />
                            <span class="form-label d-block">Address line 2</span>

                        </label>

                        <label class="d-block mb-4">
                            <input name="city" type="text" class="form-control" placeholder="Enter City" id="city" />
                            <span class="form-label d-block">City</span>

                        </label>

                        <label class="d-block mb-4">
                            <input name="state" type="text" class="form-control" placeholder="Enter State/Province"
                                id="state" />
                            <span class="form-label d-block">State/Province</span>

                        </label>

                        <label class="d-block mb-4">
                            <input name="zip" type="text" class="form-control" placeholder="Enter Zip/Postal code"
                                id="postalCode" />
                            <span class="form-label d-block">Zip/Postal code</span>

                        </label>

                        <label class="d-block mb-4">
                            <input name="country" type="text" class="form-control" placeholder=" Enter Country"
                                id="country" />
                            <span class="form-label d-block">Country</span>

                        </label>

                        <label class="d-block mb-4">
                            <input name="telephone" type="text" class="form-control" id="telephone"
                                placeholder="Enter Telephone" />
                            <span class="form-label d-block">Telephone</span>

                        </label>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="termsAgree"
                                    required />
                                <label class="form-check-label" for="termsAgree">
                                    I agree to terms of service
                                </label>
                            </div>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" data-mdb-button-init data-mdb-ripple-init id="signup-btn"
                                class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0"><a href="#!" id="back-reg"
                                    class="link-danger">Back</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>


    <br>
    <!-- Copyright -->
    <div class="copyright " style="position: fixed;bottom: 0;width: 100%;">
        <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2024. All rights reserved.
            </div>
            <!-- Copyright -->

            <!-- Right -->
            <div>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <!-- Right -->
        </div>
    </div> <!-- end of copyright -->
    <!-- end of copyright -->

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/purecounter.min.js' %}"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script> <!-- Isotope for filter -->
    <!-- <script src="{% static 'js/scripts.js' %}"></script> Custom scripts -->
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-analytics.js";
        import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, onAuthStateChanged, signOut, sendEmailVerification } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-auth.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyAkb4_XhECO7v1RrweguvRHPzBk0cWFXYo",
            authDomain: "reputation-flow.firebaseapp.com",
            projectId: "reputation-flow",
            storageBucket: "reputation-flow.appspot.com",
            messagingSenderId: "1023961069690",
            appId: "1:1023961069690:web:2df4d838fc6ca86ba423c3",
            measurementId: "G-ZH8N3MBQD9"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        window.auth = getAuth(app);
        function getCSRFToken() {
            return $('meta[name="csrfmiddlewaretoken"]').val();
        }
        function validateEmail(email) {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }
        // valid password
        function validatePassword(password) {
            const minLength = 6;
            const uppercasePattern = /[A-Z]/;
            const lowercasePattern = /[a-z]/;
            const digitPattern = /\d/;
            const specialCharPattern = /[^A-Za-z0-9]/;

            // Check minimum length
            if (password.length < minLength) {
                return "Password must be at least 6 characters long.";
            }

            // Check for uppercase letter
            if (!uppercasePattern.test(password)) {
                return "Password must contain at least one uppercase letter.";
            }

            // Check for lowercase letter
            if (!lowercasePattern.test(password)) {
                return "Password must contain at least one lowercase letter.";
            }

            // Check for a digit
            if (!digitPattern.test(password)) {
                return "Password must contain at least one digit.";
            }

            // Check for special (unique) character
            if (!specialCharPattern.test(password)) {
                return "Password must contain at least one special character (e.g., !@#$%^&*).";
            }

            // If all conditions are met, return null (password is valid)
            return null;
        }


        $(document).ready(function () {
            toastr.options = {
                'closeButton': true,
                'debug': false,
                'newestOnTop': false,
                'progressBar': false,
                'positionClass': 'toast-top-right',
                'preventDuplicates': false,
                'showDuration': '1000',
                'hideDuration': '1000',
                'timeOut': '5000',
                'extendedTimeOut': '1000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut',
            };

            $('#LoginBtn').on('click', function () {
                $('#errorLog').text('');

                // Get the value from the input field
                var username = $('#usernameL').val();
                var password = $('#passwL').val();
                if (username == '' || password == '') {
                    return;
                };
                var type = 'login';
                var next = '{{next}}';
                // Perform an AJAX POST request
                $.ajax({
                    url: "{% url 'login' %}",  // Django URL tag to resolve the view
                    type: "POST",
                    data: {
                        password: password,
                        username: username,
                        type: 'login',
                        next: next,
                        csrfmiddlewaretoken: getCSRFToken()  // Include CSRF token
                    },
                    success: function (response) {
                        if (!response['result']) {
                            $('#errorLog').text(response['message']);
                            toastr.error(response['message']);
                            return;
                        }
                        toastr.success('Login successful');
                        setTimeout(() => {
                            window.location.href = response['redirect'];
                        }, 2000);

                    },
                    error: function (xhr, status, error) {
                        // Handle the error case
                        toastr.error("Error: Try again later");

                        $('#errorLog').text("Error: Try again later");
                    }
                });
            });

            // toggle between displaying login and register form
            $('#register-sc').click(function () {
                $('#login_container').css('display', 'none');
                $('#register_container').css('display', 'block');
            });
            $('#login-sc').click(function () {
                $('#login_container').css('display', 'block');
                $('#register_container').css('display', 'none');
            });

            $('#back-reg').click(function () {
                $('#register_container').css('display', 'block');
                $('#register_business_container').css('display', 'none');
            });

            $('#continue-reg').click(function () {
                var username = $('#usernameR').val();
                var email = $('#emailR').val();
                var passw = $('#passwordR').val();
                var cpassw = $('#cpasswordR').val();
                if (username == '' || email == '' || passw == '' || cpassw == '') {
                    toastr.error('Ensure all fields are filled');
                    return;
                }
                if (!validateEmail(email)) {
                    toastr.error('Email appears to be incorrect');

                    return;
                }
                if (passw != cpassw) {
                    toastr.error('Passwords do not match');
                    return;
                }
                var vald = validatePassword(passw);
                if (vald != null) {
                    toastr.error(vald);
                    return;
                }
                $('#register_container').css('display', 'none');
                $('#register_business_container').css('display', 'block');

            })


            $('#signup-btn').on('click', function () {
                $('#errorSn').text('');

                // Get the value from the input field
                var username = $('#usernameR').val();
                var email = $('#emailR').val();
                var passw = $('#passwordR').val();
                var cpassw = $('#cpasswordR').val();

                // business reg
                var businessCategory = $('#businessCategory').val();
                var businessName = $('#businessName').val();
                var address1 = $('#address1').val();
                var address2 = $('#address2').val();
                var city = $('#city').val();
                var state = $('#state').val();
                var country = $('#country').val();
                var postal = $('#postalCode').val();
                var telephone = $('#telephone').val();
                var terms = $('#termsAgree').is(':checked');
                
                if (businessName == '' || address1 == '' || city == '' || country == '' || postal == '' || telephone == '') {
                    toastr.error('Ensure all fields are filled');
                    return;
                }
                if(!terms){
                    toastr.error('Agree to the terms before continuing');

                    return;
                }

                var next = '{{next}}';


                // Perform an AJAX POST request
                $.ajax({
                    url: "{% url 'login' %}",  // Django URL tag to resolve the view
                    type: "POST",
                    data: {
                        username: username,
                        password: passw,
                        cpassword: cpassw,
                        email: email,
                        businessCategory:businessCategory,
                        businessName:businessName,
                        address1:address1,
                        address2:address2,
                        city:city,
                        state:state,
                        country:country,
                        postal:postal,
                        telephone:telephone,
                        type: 'signup',
                        next: next,

                        csrfmiddlewaretoken: getCSRFToken()  // Include CSRF token
                    },
                    success: function (response) {
                        if (!response['result']) {
                            $('#errorSn').text(response['message']);
                            toastr.error(response['message']);

                            return;
                        }
                        toastr.success(response['message']);
                        // verify the email
                        // Sign up the user and send verification email
                        // signUpUser(email, password);
                        window.location.reload();


                    },
                    error: function (xhr, status, error) {
                        // Handle the error case
                        $('#response-message').text("Error: Try again Later ");
                    }
                });
            });
        });

        function signUpUser(email, password) {
            createUserWithEmailAndPassword(auth, email, password)
                .then((userCredential) => {
                    // Signed up successfully
                    const user = userCredential.user;
                    // Send email verification
                    if (user.emailVerified) {
                        console.log('Email is verified.');
                        window.location.reload();

                    } else {
                        sendEmailVerification(user).then(() => {
                            console.log("Verification email sent!");
                            window.location.reload();

                        }).catch((error) => {
                            console.error("Error sending email verification: ", error);
                            window.location.reload();

                        });
                    }
                })
                .catch((error) => {
                    const errorCode = error.code;
                    const errorMessage = error.message;
                    console.error("Error signing up:", errorCode, errorMessage);
                    window.location.reload();

                });
        }

    </script>

    <script>
        const sorting = document.querySelector('.selectpicker');
        const commentSorting = document.querySelector('.selectpicker');
        const sortingchoices = new Choices(sorting, {
            placeholder: false,
            itemSelectText: ''
        });


        // Trick to apply your custom classes to generated dropdown menu
        let sortingClass = sorting.getAttribute('class');
        window.onload = function () {
            sorting.parentElement.setAttribute('class', sortingClass);
        }
    </script>

</body>


</html>